snippet mds "Modified Date Stamp"
# @modified `date +%Y%m%d` - ${1:Tracker} #${2:IssueID}: ${3:Subject}
endsnippet

snippet ads "Added Date Stamp"
# @added `date +%Y%m%d` - ${1:Tracker} #${2:IssueID}: ${3:Subject}
endsnippet

snippet rds "Removed Date Stamp"
# @removed `date +%Y%m%d` - ${1:Tracker} #${2:IssueID}: ${3:Subject}
endsnippet
